:root {
  font-size: 16px;
  font-family: 'Oxygen';
  --text-primary: #ffffff;
  --text-secondary: #ececec;
  --bg-primary: #424242;
  --bg-secondary: #212121;
  --transition-speed: 600ms;
}

.fa-primary {
  /* color: #B9F6CA; */
  color: #388E3C;
}

.fa-secondary {
  /* color: #00C853; */
  color: #00C853;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

body {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 2.5rem;
}

/* NAVBAR */

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  overflow: hidden;
  top: 0;
  width: 5rem;
  height: 100vh;
  box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.50);
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: inline;
}

.navbar:hover .logo svg {
  margin-left: 11rem;
}

.navbar:hover .logo-text {
  left: 0px;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  height: 4rem;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  white-space: nowrap;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

/* END NAVBAR */

/* TYPOGRAPHY */
h1 {
  font-size: 3rem;
}
/* END TYPOGRAPHY */