:root {
  font-size: 16px;
  font-family: 'Oxygen';
  --text-primary: #ffffff;
  --text-secondary: #ececec;
  --bg-primary: #424242;
  --bg-secondary: #212121;
  --transition-speed: 600ms;
  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #2674fa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --purple: #9166cc;
  --purple-dark: #7d4bc3;
  --purple-light: #a481d5;
  --pink: #ff4088;
  --pink-dark: #ff1c72;
  --pink-light: #ff649e;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
}

* {
  margin: 0;
  padding: 0;
}

.fa-primary {
  color: #388E3C;
}

.fa-secondary {
  color: #00C853;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

body {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary)
}

body::-webkit-scrollbar-thumb {
  background: #00C853;
}

main {
  margin-left: 5rem;
  padding: 2.5rem;
}

/* NAVBAR */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  overflow: hidden;
  top: 0;
  width: 5rem;
  height: 100vh;
  box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.5);
  z-index: 1000;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: inline;
}

.navbar:hover .logo svg {
  margin-left: 11rem;
}

.navbar:hover .logo-text {
  left: 0px;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  height: 4rem;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  white-space: nowrap;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
/* END NAVBAR */

/* CONTAINERS */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* END CONTAINERS */

/* TYPOGRAPHY */
h1 {
  font-size: 3rem;
}
/* END TYPOGRAPHY */

/* HELPERS */
.w-100 {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}
/* END HELPERS */

/* BUTTONS */
.btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  color: var(--text-primary);
  background-color: var(--gray4);
  cursor: pointer;
  transition: var(--transition-speed);
  text-decoration: none;
}

.btn:hover {
  background-color: var(--gray3);
}

.btn-primary {
  background-color: var(--blue);
}

.btn-primary:hover {
  background-color: var(--blue-light);
}

.btn-danger {
  background-color: var(--red);
}

.btn-danger:hover {
  background-color: var(--red-light);
}
/* END BUTTONS */

/* CARDS */
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  padding: 20px;
  margin-bottom: 20px;
  text-decoration: none !important;
  transition: var(--transition-speed);
}

a.card:hover {
  background-color: var(--gray4);
}

.card .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card .actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 150px;
}

.card .date {
  font-size: 0.75rem;
}

.card .title {
  font-size: 1.25rem;
}

.card.card-danger {
  background-color: var(--red);
}
/* END CARDS */

/* CHIP */
.chip {
  text-align: center;
  font-size: 0.75rem;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--gray3);
}

.chip.chip-admin {
  background-color: var(--red);
}

.chip.chip-organizer {
  background-color: var(--green);
}
/* END CHIP */

/* FORM */
.form-field {
  display: flex;
  flex-direction: column;
}

.form-field .input,
.vdp-datepicker input {
  padding: 10px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  border: none;
  outline: none;
  border-bottom: 3px solid var(--gray6);
}

.form-field .input.invalid,
.vdp-datepicker.invalid input {
  border-bottom: 3px solid var(--red);
}

.form-field .error {
  color: var(--red);
  font-size: .75rem;
}
/* END FORM */

/* CALENDAR */
.vdp-datepicker__calendar {
  color: var(--text-primary) !important;
  background-color: var(--bg-primary) !important;
}
/* CALENDAR */

/* MODAL */
.modal {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .container {
  background: var(--bg-secondary);
  width: 450px;
}

.modal .header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal .body {
  padding: 20px;
}

.modal .footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* END MODAL */